<h1>Todos</h1>

<form class="add-todo">
  <input type="text" placeholder="What do you need to do, todo?">
</form>

<ul class="todo-list">
  <li class="todo">
    <label class="label label--checkbox">
      <input type="checkbox" class="checkbox">
      Buy some milk
    </label>
  </li>

  <li class="todo">
    <label class="label label--checkbox">
      <input type="checkbox" class="checkbox">
      Cancel Concast services
    </label>
  </li>

  <li class="todo todo--complete">
    <label class="label label--checkbox">
      <input type="checkbox" class="checkbox checkbox--checked">
      Feed Mr. G
    </label>
  </li>

  <li class="todo">
    <label class="label label--checkbox">
      <input type="checkbox" class="checkbox">
      Destroy the Wizard
    </label>
  </li>
</ul>
